Repository stackrox/helm-operator, changes with the labels that .github/labeler.yml gives for each.
All labels: upstream-triage, area/main-binary, area/sdk, area/plugin, area/infra, area/deps, area/docs, area/testing

ROX-19221: Fix reconciling with label selector for multiple reconcilers (#42)
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Labels: area/sdk, area/testing

ROX-12219: Add support for pause-reconcile annotation (#29)
  pkg/reconciler/internal/conditions/conditions.go
  pkg/reconciler/internal/updater/updater.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Labels: area/sdk, area/testing

Fix reconciler log format message (#25)
  pkg/reconciler/reconciler.go
Labels: area/sdk

ROX- 8130: Add WithExtraWatch option. (#22)
  pkg/reconciler/reconciler.go
Labels: area/sdk

Allow marking releases stuck in a pending state as failed (#16)
  pkg/client/actionclient.go
  pkg/reconciler/internal/conditions/conditions.go
  pkg/reconciler/internal/fake/actionclient.go
  pkg/reconciler/reconciler.go
Labels: area/sdk

ROX-7242: Make the operator preserve custom statuses, and allow updating custom status through extensions (#17)
  pkg/extensions/types.go
  pkg/reconciler/internal/updater/updater.go
  pkg/reconciler/internal/updater/updater_test.go
  pkg/reconciler/reconciler.go
Labels: area/sdk, area/testing

Allow stripping manifest from the CR status (#18)
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Labels: area/sdk, area/testing

Fix updater test to use existing fields from deployment's status field
  pkg/reconciler/internal/updater/updater.go
  pkg/reconciler/internal/updater/updater_test.go
  pkg/reconciler/reconciler.go
Labels: area/sdk, area/testing

git format-patch v0.8.0 on old branch
  stackrox-changes/0001-Fork-helm-operator-adjustments-for-CI-and-documentat.patch
  stackrox-changes/0002-Updated-README-5-7.patch
  stackrox-changes/0003-Allow-adding-reconciliation-extensions-9.patch
  stackrox-changes/0004-Allow-marking-releases-stuck-in-a-pending-state-as-f.patch
  stackrox-changes/0005-Allow-stripping-manifest-from-the-CR-status-18.patch
  stackrox-changes/0006-ROX-7242-Make-the-operator-preserve-custom-statuses-.patch
  stackrox-changes/0007-ROX-8130-Add-WithExtraWatch-option.-22.patch
  stackrox-changes/0008-Fix-updater-test-to-use-existing-fields-from-deploym.patch
  stackrox-changes/0009-Fix-reconciler-log-format-message-25.patch
  stackrox-changes/0010-ROX-12219-Add-support-for-pause-reconcile-annotation.patch
  stackrox-changes/0011-Fix-rebase.patch
  stackrox-changes/0012-ROX-19221-Fix-reconciling-with-label-selector-for-mu.patch
Labels: area/sdk

git format-patch v0.8.0 on rebased branch
  stackrox-changes/0001-Fork-helm-operator-adjustments-for-CI-and-documentat.patch
  stackrox-changes/0002-Updated-README-5-7.patch
  stackrox-changes/0003-Allow-adding-reconciliation-extensions-9.patch
  stackrox-changes/0004-Allow-marking-releases-stuck-in-a-pending-state-as-f.patch
  stackrox-changes/0005-Allow-stripping-manifest-from-the-CR-status-18.patch
  stackrox-changes/0006-ROX-7242-Make-the-operator-preserve-custom-statuses-.patch
  stackrox-changes/0007-ROX-8130-Add-WithExtraWatch-option.-22.patch
  stackrox-changes/0008-Fix-updater-test-to-use-existing-fields-from-deploym.patch
  stackrox-changes/0009-Fix-reconciler-log-format-message-25.patch
  stackrox-changes/0010-ROX-12219-Add-support-for-pause-reconcile-annotation.patch
  stackrox-changes/0011-Fix-rebase.patch
  stackrox-changes/0012-ROX-19221-Fix-reconciling-with-label-selector-for-mu.patch
Labels: area/sdk

ROX-12637: expose the paused condition when false
  pkg/reconciler/reconciler.go
Labels: area/sdk

ROX-12637: expose the paused condition when false (#61)
  pkg/reconciler/reconciler.go
Labels: area/sdk

Add WithPredicate() option to support custom event filtering
  pkg/reconciler/reconciler.go
Labels: area/sdk

wip
  pkg/reconciler/internal/updater/updater.go
  pkg/reconciler/reconciler.go
Labels: area/sdk

tests
  pkg/reconciler/internal/updater/updater_test.go
Labels: area/sdk, area/testing

finalizer patching
  pkg/reconciler/reconciler.go
Labels: area/sdk

empty Result
  pkg/reconciler/reconciler.go
Labels: area/sdk

Implement strategy for resolving conflicts in updater by merging-in externally managed conditions
  pkg/reconciler/internal/updater/updater.go
  pkg/reconciler/internal/updater/updater_test.go
  pkg/reconciler/reconciler.go
Labels: area/sdk, area/testing

tests
  pkg/reconciler/internal/updater/updater_test.go
Labels: area/sdk, area/testing

Remove nonamedreturns linter, because the updater's Apply() mechanism makes it tricky to prevent warnings in the controller-runtime log
  .golangci.yml
Labels: upstream-triage, area/sdk, area/infra

tests
  pkg/reconciler/internal/updater/updater_test.go
Labels: area/sdk, area/testing

Preserve finalizer modifications
  pkg/reconciler/internal/updater/updater.go
Labels: area/sdk

err checking
  pkg/reconciler/internal/updater/updater.go
  pkg/reconciler/internal/updater/updater_test.go
Labels: area/sdk, area/testing

Add WithPredicate() option to support custom event filtering (#65)
  pkg/reconciler/reconciler.go
Labels: area/sdk

updater: Refactor attempt counting during retries
  pkg/reconciler/internal/updater/updater.go
Labels: area/sdk

reconciler: Prepare for aggressive conflict resolution
  pkg/reconciler/reconciler.go
Labels: area/sdk

Renamings of function names and log messages related to refreshing of the object
  pkg/reconciler/internal/updater/updater.go
Labels: area/sdk

reconciler: use client.Patch() for setting uninstall finalizer
  pkg/reconciler/reconciler.go
Labels: area/sdk

transient
  pkg/reconciler/internal/updater/updater_test.go
Labels: area/sdk, area/testing

updater: Include logger.
  pkg/reconciler/internal/updater/updater.go
Labels: area/sdk

updater tests: seperate Expect() clause after calling retryOnTransientError
  pkg/reconciler/internal/updater/updater_test.go
Labels: area/sdk, area/testing

updater tests: factor our coming init code into a shared JustBeforeEach.
  pkg/reconciler/internal/updater/updater_test.go
Labels: area/sdk, area/testing

New function (for tests): conditions.go: FromUnstructured
  pkg/internal/status/conditions.go
Labels: area/sdk

updater: Implement aggressive conflict resolution.
  pkg/reconciler/internal/updater/updater.go
Labels: area/sdk

updater.go: Move backoff definition for smaller diff.
  pkg/reconciler/internal/updater/updater.go
Labels: area/sdk

reconciler: configure new updater
  pkg/reconciler/reconciler.go
Labels: area/sdk

Updater tests
  pkg/reconciler/internal/updater/updater_test.go
Labels: area/sdk, area/testing

updater: Include new option: EnableAggressiveConflictResolution.
  pkg/reconciler/internal/updater/updater.go
Labels: area/sdk

New reconciler method: newUpdater
  pkg/reconciler/reconciler.go
Labels: area/sdk

Moved the code for extracting conditions from unstructured the updater tests and use Ginkgo assertions instead of production error handling.
  pkg/internal/status/conditions.go
  pkg/reconciler/internal/updater/updater_test.go
Labels: area/sdk, area/testing

.github/labeler.yml:

upstream-triage:
  - "./*"
area/main-binary:
- changed-files:
  - any-glob-to-any-file:
    - 'main.go'
    - 'internal/**/*'
area/sdk:
- changed-files:
  - any-glob-to-any-file:
    - 'pkg/**/*'
    - '!pkg/plugin/**/*'
area/plugin:
- changed-files:
  - any-glob-to-any-file:
    - 'pkg/plugin/**/*'
area/infra:
- changed-files:
  - any-glob-to-any-file:
    - '.github/**/*'
    - 'Makefile'
    - '.goreleaser.yml'
    - '.golangci.yml'
area/deps:
- changed-files:
  - any-glob-to-any-file:
    - 'go.mod'
    - 'go.sum'
area/docs:
- changed-files:
  - any-glob-to-any-file:
    - 'README.md'
area/testing:
- changed-files:
  - any-glob-to-any-file:
    - '**/*_test.go'
    - '**/testdata/**/*'
