Repository stackrox/helm-operator, changes with the labels that .github/labeler.yml gives for each.
All labels: upstream-triage, area/main-binary, area/sdk, area/plugin, area/infra, area/deps, area/docs, area/testing

Allow stripping manifest from the CR status (#18)
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Labels: area/sdk, area/testing

Allow marking releases stuck in a pending state as failed (#16)
  pkg/client/actionclient.go
  pkg/reconciler/internal/conditions/conditions.go
  pkg/reconciler/internal/fake/actionclient.go
  pkg/reconciler/reconciler.go
Labels: area/sdk

Allow adding reconciliation extensions (#9)
  pkg/extensions/types.go
  pkg/reconciler/reconciler.go
Labels: area/sdk

Fix updater test to use existing fields from deployment's status field
  pkg/reconciler/internal/updater/updater.go
  pkg/reconciler/internal/updater/updater_test.go
  pkg/reconciler/reconciler.go
Labels: area/sdk, area/testing

ROX- 8130: Add WithExtraWatch option. (#22)
  pkg/reconciler/reconciler.go
Labels: area/sdk

Fix reconciler log format message (#25)
  pkg/reconciler/reconciler.go
Labels: area/sdk

Clone the REST config to prevent data races in the k8s.io/cli-runtime library. (#26)
  pkg/client/restclientgetter.go
Labels: area/sdk

ROX-7242: Make the operator preserve custom statuses, and allow updating custom status through extensions (#17)
  pkg/extensions/types.go
  pkg/reconciler/internal/updater/updater.go
  pkg/reconciler/internal/updater/updater_test.go
  pkg/reconciler/reconciler.go
Labels: area/sdk, area/testing

Add support for pause-reconcile annotation
  pkg/reconciler/internal/conditions/conditions.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Labels: area/sdk, area/testing

fix repeated instantiation of k8s client
  pkg/client/actionconfig.go
  pkg/client/restclientgetter.go
Labels: area/sdk

polish
  pkg/client/actionconfig.go
  pkg/client/restclientgetter.go
Labels: area/sdk

tidy
  go.mod
Labels: upstream-triage, area/deps

test with a fake acg
  pkg/reconciler/reconciler_test.go
Labels: area/sdk, area/testing

parse non-nil cfg
  pkg/client/actionconfig_test.go
Labels: area/sdk, area/testing

remove errActionConfigGetter
  pkg/client/actionclient_test.go
  pkg/client/actionconfig.go
  pkg/client/actionconfig_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Labels: area/sdk, area/testing

Fix memory leak due to misuse of K8s clients (#30)
  go.mod
  pkg/client/actionclient_test.go
  pkg/client/actionconfig.go
  pkg/client/actionconfig_test.go
  pkg/client/restclientgetter.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Labels: upstream-triage, area/sdk, area/deps, area/testing

Fix memory leak due to misuse of K8s clients (#30)
  go.mod
  pkg/client/actionclient_test.go
  pkg/client/actionconfig.go
  pkg/client/actionconfig_test.go
  pkg/client/restclientgetter.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Labels: upstream-triage, area/sdk, area/deps, area/testing

Add support for pause-reconcile annotation
  pkg/reconciler/internal/conditions/conditions.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Labels: area/sdk, area/testing

simple review feedback
  pkg/reconciler/internal/conditions/conditions.go
  pkg/reconciler/internal/updater/updater.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Labels: area/sdk, area/testing

remaining review feedback
  pkg/reconciler/reconciler_test.go
Labels: area/sdk, area/testing

ROX-12219: Add support for pause-reconcile annotation (#29)
  pkg/reconciler/internal/conditions/conditions.go
  pkg/reconciler/internal/updater/updater.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Labels: area/sdk, area/testing

k8s-related dep bump
  go.mod
  go.sum
  pkg/internal/status/conditions.go
  pkg/internal/status/conditions_test.go
Labels: upstream-triage, area/sdk, area/deps, area/testing

bump k8s deps to v0.24.6 and use non-vulnerable helm dep
  go.mod
  go.sum
  internal/flags/flag.go
Labels: upstream-triage, area/main-binary, area/deps

fixes
  pkg/internal/status/conditions.go
  pkg/internal/status/conditions_test.go
  pkg/plugins/helm/v1/scaffolds/internal/templates/config/rbac/manager_role.go
Labels: area/sdk, area/testing

tidy
  go.mod
Labels: upstream-triage, area/deps

.github/labeler.yml:

upstream-triage:
  - "./*"
area/main-binary:
  - 'main.go'
  - 'internal/**/*'
area/sdk:
  - any:
    - 'pkg/**/*'
    - '!pkg/plugin/**/*'
area/plugin:
  - 'pkg/plugin/**/*'
area/infra:
  - '.github/**/*'
  - 'Makefile'
  - '.goreleaser.yml'
  - '.golangci.yml'
area/deps:
  - 'go.mod'
  - 'go.sum'
area/docs:
  - 'README.md'
area/testing:
  - '**/*_test.go'
  - '**/testdata/**/*'
