Repository stackrox/helm-operator, pull requests merged in 2021-06, with the labels that each got.

#8 Pass context to Translate().
  pkg/reconciler/internal/values/values.go
  pkg/reconciler/reconciler.go
  pkg/values/values.go
Labels: area/sdk

#10 Disable scheme registration in SetupWithManager
  internal/cmd/run/cmd.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Labels: area/main-binary, area/sdk, area/testing

#9 Allow adding reconciliation extensions
  pkg/extensions/types.go
  pkg/reconciler/reconciler.go
Labels: area/sdk

#14 Allow limiting the maximum release history on upgrades
  pkg/client/actionclient.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Labels: area/sdk, area/testing

#16 Allow marking releases stuck in a pending state as failed
  pkg/client/actionclient.go
  pkg/reconciler/internal/conditions/conditions.go
  pkg/reconciler/internal/fake/actionclient.go
  pkg/reconciler/reconciler.go
Labels: area/sdk
