Repository stackrox/helm-operator, pull requests merged in 2021-05, with the labels that each got.

#1 Add annotation package docs
  pkg/annotation/annotation.go
Labels: area/sdk, upstream-fix

#4 Fork helm-operator adjustments for CI and documentation
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  README.md
Labels: area/docs, area/infra

#5 Updated README
  README.md
Labels: area/docs

#7 fixed typo in README
  README.md
Labels: area/docs

#6 Add a WithValueTranslator option to Reconciller.
  pkg/reconciler/internal/values/values.go
  pkg/reconciler/reconciler.go
  pkg/values/values.go
Labels: area/sdk
